.prod_obolochki2{
    text-align: center;
	height: 90vh;
	width: 100%;
	background-color: rgb(37, 37, 37);
	font-size: 23px;
	color: white;
	padding-left: 160px;
	padding-top: 50px;
	line-height: 30px;
}
img{
    margin-right:100px;
}